@keyframes stretch {
    0% {
      transform: scale(.3);
      background-color: black;
      border-radius: 100%;
    }
    50% {
      background-color: greenyellow;
    }
    100% {
      transform: scale(1.5);
      background-color: blue;
    }
}

@keyframes stretch-path {
    0% {
      transform: scale(.3);
      background-color: black;
      border-radius: 100%;
    }
    50% {
      background-color: red;
    }
    100% {
      transform: scale(1.5);
      background-color: purple;
    }
}


.node {
    border: 1px solid white;
    height: 25px;
    width: 25px;
}

.start-node {
    background-color: green;
}

.end-node {
    background-color: red;
}

.visited-node {
    background-color: black;
    animation-name: stretch;
    animation-duration: 1.5s; 
    animation-timing-function: ease-out; 
    animation-delay: 0;
    animation-direction: alternate;
    animation-fill-mode: none;
    animation-play-state: running;
}

.is-barrier {
    background-color: white;
}

.is-path {
    background-color: purple;
    animation-name: stretch-path;
    animation-duration: 1.5s; 
    animation-timing-function: ease-out; 
    animation-delay: 0;
    animation-direction: alternate;
    animation-fill-mode: none;
    animation-play-state: running;
}

@media only screen and (max-width: 480px) {
    .node {
        border: 1px solid white;
        height: 5px;
        width: 5px;
    }
  }
  