@keyframes stretch {
  0% {
    transform: scale(.3);
    background-color: black;
    border-radius: 100%;
  }
  20% {
    background-color: yellowgreen;
  }
  40% {
    background-color: blueviolet;
  }
  60% {
    background-color: royalblue;
  }
  80% {
    background-color: orange;
  }
  100% {
    transform: scale(1.25);
    background-color: blue;
  }
}

@keyframes stretch-path {
    0% {
      transform: scale(.3);
      background-color: black;
      border-radius: 100%;
    }
    20% {
      background-color: red;
    }
    40% {
      background-color: blue;
    }
    60% {
      background-color: pink;
    }
    80% {
      background-color: salmon;
    }
    100% {
      transform: scale(1.25);
      background-color: purple;
    }
}


.node {
    border: 1px solid white;
    height: 25px;
    width: 25px;
}

.start-node {
    background-color: green;
    border-radius: 50%;
}

.end-node {
    background-color: red;
    border-radius: 50%;
}

.visited-node {
    background-color: blue;
    animation-name: stretch;
    animation-duration: 1.5s; 
    animation-timing-function: ease-out; 
    animation-delay: 0;
    animation-direction: alternate;
    animation-fill-mode: none;
    animation-play-state: running;
}

.is-barrier {
    background-color: white;
}

.is-path {
    background-color: purple;
    animation-name: stretch-path;
    animation-duration: 1.5s; 
    animation-timing-function: ease-out; 
    animation-delay: 0;
    animation-direction: alternate;
    animation-fill-mode: none;
    animation-play-state: running;
}

@media only screen and (max-width: 480px) {
    .node {
        border: 1px solid white;
        height: 5px;
        width: 5px;
    }
  }
  