.node {
    border: 1px solid white;
    height: 25px;
    width: 25px;
}

.start-node {
    background-color: green;
}

.end-node {
    background-color: red;
}

.visited-node {
    background-color: blue;
}

.is-barrier {
    background-color: white;
}

.is-path {
    background-color: purple;
}