* {
    background-color: black;
    color: white;
}

.flex-container {
    display: flex;
}

.pathfinder-visualizer {
    flex-direction: column;
}

.grid {
    margin-top: 3%;
    flex-direction: column;
    border: 1px solid white;
}

@media only screen and (max-width: 480px) {
    .pathfinder-visualizer {
        flex-direction: row;
    }
    .row {
        flex-direction: column;
    }
  }
  